# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# Virtual environments
venv/
.env/
.venv/

# Environment variables
*.env

# Logs and temp files
*.log
*.pot
*.pyc
*.pkl
*.sqlite3

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# VSCode / IDE settings
.vscode/
.idea/

# Byte-compiled and cache
*.egg-info/
.eggs/
dist/
build/


backend/serviceAccountKey.json
